.area1 {width: 600px; position: absolute; background-color: yellow;}
.area2 {width: 600px; position: absolute; background-color: blue;}
.area3 {width: 600px; position: absolute; background-color: green;}